body{
    background-image: url('../images/bg1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.predictions{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.results{
    display: flex;
    flex-direction: column;
}

.img{
    height: 25vh;
    width: auto;
}